root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf
# editorconfig-tools is unable to ignore longs strings or urls 解决各个开发工具格式化时可能不一致
max_line_length = off

[CHANGELOG.md]
